<%- include('../layouts/head.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <%- include('../layouts/nav.ejs') %>
    <h1 class="text-center">CART</h1>
    <main class="col-8 mx-auto">
      <% if (products.length > 0) { %>
        <div class="d-flex flex-column">
          <% products.forEach(p => { %>
            <div class="card d-flex flex-row justify-content-between text-center">
              <p class="card-title fw-bold">Product name: <%= p.productId.title %></p>
              <p class="card-title fw-bold">Quantity: <%= p.quantity %></p>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" name='_csrf' value='<%= csrfToken %>'>
                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                <button class="btn btn-danger" type="submit">DELETE</button>
              </form>
            </div>
          <% }) %>
        </div>
        <div class="d-flex justify-content-center my-3">
          <!-- <form action="/create-order" method="POST">
            <input type="hidden" name='_csrf' value='<%= csrfToken %>'>
            <button type="submit" class="btn btn-primary">Order now</button>
          </form> -->
          <a class='btn btn-primary' href="/checkout">Order Now</a>
        </div>
      <% } else { %>
       <h3 class="text-center">No products in Cart</h3>
      <% } %>
    </main>