<%- include('../layouts/head.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <%- include('../layouts/nav.ejs') %>
    <main class="col-6 mx-auto">
      <% if (products.length > 0) { %>
        <div class="d-flex flex-column">
          <% products.forEach(p => { %>
            <div class="card d-flex flex-row justify-content-between">
              <p class="card-title"> <%= p.productId.title %> </p>
              <p class="card-title"> Quantity: <%= p.quantity %></p>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" name='_csrf' value='<%= csrfToken %>'>
                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                <button class="btn btn-danger" type="submit">DELETE</button>
              </form>
            </div>
          <% }) %>
        </div>
        <div class="d-flex justify-content-center">
          <form action="/create-order" method="POST">
            <input type="hidden" name='_csrf' value='<%= csrfToken %>'>
            <button type="submit" class="btn btn-primary">Order now</button>
          </form>
        </div>
      <% } else { %>
       <h1>No products in Cart</h1>
      <% } %>
    </main>