<%- include('../layouts/head.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <%- include('../layouts/nav.ejs') %>
      <main>
        <% if (orders.length <= 0) { %>
          <p>Nothing there</p>
        <% } else { %>
          <ul>
            <% for (let order of orders) { %>
              <li>
                <p>Order: #<%= order._id %></p>
                <ul>
                  <% order.products.forEach(item => { %>
                    <li> <strong>Title:</strong> <%= item.product.title %>  <strong>Quantity:</strong> <%= item.quantity %></li>
                    <hr>
                  <% }) %>
                </ul>
              </li>
            <% } %>
          </ul>
        <% } %>
      </main>