<%- include('../layouts/head.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <%- include('../layouts/nav.ejs') %>
      <main>
        <% if (orders.length <= 0) { %>
          <p>Nothing there</p>
        <% } else { %>
          <ul>
            <% for (let order of orders) { %>
              <li>
                <h3># <%= order._id %></h3>
                <ul>
                  <% order.items.forEach(item => { %>
                    <li> <%= item.title %> <%= item.quantity %></li>
                  <% }) %>
                </ul>
              </li>
            <% } %>
          </ul>
        <% } %>
      </main>