<%- include('../layouts/head.ejs')%>
  <link rel="stylesheet" href="css/style.css">

  </head>

  <body>
    <%- include('../layouts/nav.ejs')%>
    <div class="col-3">
      <h1>Product list</h1>
      <% if (products.length> 0) { %>
        <% for (item of products) { %>
          <article class="card">
            <img src="<%= item.imageUrl %>" class="card-img-top" alt="<%= item.title %>">
            <div class="card-body">
              <h5 class="card-title text-center">
                <%= item.title %>
              </h5>
              <h5 class="card-text text-center">$<%= item.price %>
              </h5>
              <p class="card-text">
                <%= item.description %>
              </p>
            </div>
            <div class="mx-auto mb-2">
              <a href="/products/<%= item.id %>" class="btn btn-primary">Details</a>
              <form action="/add-to-cart" method="POST">
                <button class='btn btn-primary' type='submit'>Add to Cart</button>
              </form>
            </div>
          </article>
          <% } %>
      <% } else { %>
        <p>No products</p>
      <% } %>
    </div>


    <%- include('../layouts/footer.ejs')%>